#boards {
    background-color: green;
}
:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    min-width: 620px;
    background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    font-family: sans-serif;
}

.container {
    width: 65%;
    margin-bottom: 4vh;
    margin-top: 4vh;
    overflow: scroll;

}
#content-row-container {
    height:70vh;
    background: #E8E9EB;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#header-Row {
    background: whitesmoke;
    border-radius: 5px;
}

.margin_header {
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#status-title {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: larger;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: auto;
}
.cards {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: white;

}

#drop-over {
    border-style: dashed;
    background: rgba(111, 143, 175, 0.24);
    color : #ddd;
    border-color: black;
}
.dragged {
  opacity: 0;
}

.drag-feedback {
    opacity: 1;
    border: 1px solid dodgerblue;
}
#deleteBoardButton:hover {
    cursor: pointer;
    transform: scale(1.5);
}
#create-board-button {
    cursor: pointer;
}
.not_valid {
    background: #FFCCCC;
    border-color: red;
}
#not_valid_info {
    background: #FFCCCC;
    border-color: red;
    margin-top: auto;
    margin-bottom: auto;
}
#content-columns-container {
    background-color: rgba(111, 143, 175, 0.24);
    min-height: 18vh;
}
#board-title:hover {
    cursor: pointer;
}
#header-Row:hover {
    border: 1px solid #6082B6;
}

.dropdown-toggle::after {
    display: none;
}
.private_board {
    background: #89b8e1 !important;
}
div.col.border-right.border-dark.column_header {
    background-color: #566DBA;
}
