#boards {
    background-color: green;
}
:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    min-width: 620px;
    background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    font-family: sans-serif;
}

.container {
    width: 55%;
}
#content-row-container {
    height:50vh;
    background: #E8E9EB;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#header-Row {
    background: whitesmoke;
    border-radius: 5px;
}
.margin_header {
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#status-title {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: larger;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: auto;
}
.cards {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: white;

}

#drop-over {
    border-style: dashed;
    background: #ddd;
    color : #ddd;
    border-color: black;
}

.dragged {
  opacity: 0;
}

/* Drag feedback image style */
.drag-feedback {
    opacity: 1;
    border: 1px solid dodgerblue;
}