<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}-ProMan{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block link %}
    {% endblock %}
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-size: larger;">
        PROMAN
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-end">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ml-3">
            {% if "user" in session %}
                <a class="nav-link navbar-btn" style="font-size: larger;">
              signed in as {{ session['username'] }}
              {% else %}
                <a class="nav-link navbar-btn" href="/register" style="font-size: larger;">
              register
              {% endif %}
          </a>
        </li>
        <li class="nav-item ml-3">
        {% if "user" in session %}
          <a class="nav-link" href="/logout" style="font-size: larger;">
              log out
              {% else %}
            <a class="nav-link" href="/login" style="font-size: larger;">
              login
              {% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</nav>
{% block content %}
{% endblock %}

</body>
</html>