{% extends 'layout.html' %}

{% block title %}login{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register_and_login.css') }}">
    <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-light bg-dark">
          <div class="modal-header border-bottom-0">
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
          </div>
          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <form action = '/login' method ='POST' id="login-window">
        <div>USERNAME</div>
        <label for="email-register"></label>
        <input type="email" id="email-register" name="email" placeholder="email"/>
        {% if username_taken %}
            <div class="wrong-data" hidden>usernameTaken</div>
        {% elif wrong_data %}
            <div class="wrong-data" hidden>incorrectLoginData</div>
        {% elif after_register %}
            <div class="wrong-data" hidden>registerSuccessful</div>
        {% endif %}
        <div>PASSWORD</div>
        <label for="password-register"></label>
        <input type='password' id="password-register" name="password" placeholder="password"/>
        <input type='submit' value='login' data-toggle="modal" data-target="#exampleModal"/>
    </form>
{% endblock %}